.nav-nav {
  color: white;
  padding: 0;
}
.top-nav {
  background: black;
  color: white;
  padding: 0 30px;
}
#logo > h1 {
  color: white;
}

a#logo {
  text-decoration: none;
}

ul.nav-menu {
  list-style: none;
  text-align: right;
}

ul.nav-menu > li {
  display: inline;
}

ul.nav-menu > li > a {
  text-decoration: none;
  margin: 0 10px;
  color: white;
}

ul.nav-menu > li > .nav-btn {
  /* color: red; */
}

.nav-grid {
  display: grid;
  grid-template-columns: 60% 40%;
}
