body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Main/Landing Style */
.sidebar {
  background: red;
  padding: 30px 15px;
  display: none;
}

.main-grid {
  display: grid;
  grid-template-columns: 100%;
}

.main-project-grid {
  padding: 5px 30px 15px;
  display: grid;
  grid-template-columns: 100%;
  /* This will result on two rows, each one of 300px */
  grid-template-rows: 300px 300px;
}

.main-single-project-square {
  border: 1px solid red;
  margin: 15px 15px 15px 0;
  padding: 40px;
  border-radius: 8px;
}

#filter_search {
  width: 100%;
  padding: 30px 0 15px 30px;
  max-width: 450px;
  min-width: 200px;
  box-shadow: none;
  border: none;
  margin-left: 0;
}

.search_input {
  max-width: 90%;
  min-width: 200px;
}

.spec_filter{
  margin: 0 0 0 30px;
}
/* End Main/Landing Styles */

/* Single Project Styles */

/* End Single Project */

/* Form Styles */
form {
  margin: auto;
  border: 1px solid rgb(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  max-width: 300px;
  box-shadow: 1px 1px 1px #999;
}

.text {
  border: 0.5px solid #333;
  width: 100%;
  height: 30px;
  border-radius: 2px;
  padding: 5px 5px 0 5px;
  margin-bottom: 10px;
}

label {
  display: block;
  text-align: left;
}

form > button.btn {
  width: 100%;
}

form > textarea {
  height: 300px;
}
/* End Form Styles */

/* Classes */
.btn {
  background: black;
  padding: 7px 7px 5px;
  color: white;
  border: none;
  border-radius: 3px;
}

.nav-btn{
  border: 1px solid white;
  border-radius: 3px;
  background: red;
  padding: 5px;
}
/* End Classes */

/* Media Queries */
@media (min-width: 678px) {
  .main-grid {
    grid-template-columns: 25% auto;
  }

  .sidebar {
    background: red;
    padding: 30px 15px;
    display: inline-block;
    height: 100%;
  }
}

@media (min-width: 992px) {
  .main-project-grid {
    grid-template-columns: 33% 33% 33%;
    /* This will result on two rows, each one of 300px */
    /* grid-template-rows: 300px 300px; */
  }
}
/* Media Queries */
