body {
  margin: 0;
  font-family: "Rubik";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}
/* Logo */
#footer > article > #logo-footer > h1 {
  padding: 0;
  margin: 0;
  font-size: 22px;
  color: white;
}

#footer > article > #logo-footer > h1 > span,
#footer > article > span {
  color: red;
}

#logo-footer {
  text-decoration: unset;
}

#footer > article > #logo-footer > h1 > span > .thumbsUp {
  font-size: 10px;
  margin-right: 1px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid white;
  padding: 3px;
}

.LoginPage > #footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* End Logo Styles */
/* Nav Styles */
.top-nav {
  height: 65px;
  box-shadow: 1px 1px 1.5px #999;
  border-bottom: 0.011111px solid red;
}

.top-nav > .nav-grid > .nav-grid-item-2 > .nav-nav {
  display: none;
}

.nav-menu {
  padding-top: 7px;
  padding-left: 0;
}

#logo > h1 > span > .thumbsUp {
  font-size: 20px;
  border: 2px solid white;
  padding: 2px;
  border-radius: 5px;
  margin-right: 0;
}

.nav-grid-item > #logo > h1 {
  margin-top: 13px;
  font-size: 36px;
}

.nav-grid-item > #logo > h1 > span {
  color: red;
}

ul.bars {
  padding-right: 0;
  margin-right: 0;
  list-style: none;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

/* Nav Styles */

/* Mbl nav */
#mbl-nav {
  height: 1700px;
  top: 0;
  bottom: 0;
  /* overflow: auto; */
  width: 190px;
  position: absolute;
  left: 0;
  background: red;
  padding: 25px;
  /* display: block; */
  z-index: 1;
}

#mbl-nav > .nav-nav > .nav-menu {
  margin-bottom: 25px;
}
#mbl-nav > #logo > h1 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin: -10px 0 5px 0;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #333;
  background: black;
}
#mbl-nav > #logo > h1 > span {
  color: red;
  text-shadow: 1.5px 1.5px 1.5px #000;
}

#mbl-nav > hr {
  border-color: black;
}

#mbl-nav > #logo > h1 > span > .thumbsUp {
  margin-right: 0;
  font-size: 17px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
}
/* End of mbl styles */

/* Landing Page Styles */
#landing_banner {
  /* background: url("https://i.imgur.com/ebyutog.jpg"); */
  height: 290px;
  background-position: middle;
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 30px;
}

.overlay {
  position: absolute;
  /* justify-content: center; */
  /*vertical-align: middle; */
  text-align: center;
  /* display: none; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(253, 5, 5, 0.7); */
  /* z-index: 2; */
  /* cursor: pointer; */
  background-image: linear-gradient(
    to bottom right,
    rgba(253, 5, 5, 0.9),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.9)
  );
}

.overlay > article {
  margin-top: 60px;
}

.overlay > article > h1 {
  color: white;
  margin: auto;
  margin-bottom: 15px;
  font-size: 50px;
  text-shadow: 1px 1px 1px #000;
  margin-top: 35px;
}

.overlay > article > p {
  max-width: 85%;
  margin: auto;
  max-width: 65%;
  line-height: 1.5;
}
.overlay > article {
  color: white;
}

.overlay > button {
  min-width: 200px;
  padding: 10px;
  margin-top: 20px;
  width: 50%;
  max-width: 300px;
  font-size: 20px;
  background: black;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}

#landing_content {
  padding: 40px 35px 50px;
}

.landing-content-grid {
  display: grid;
  grid-template-columns: 100%;
}

.landing-content-grid > div > p {
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}

.landing-content-header {
  width: 100%;
  left: 0px;
  font-size: 26px;
}

#landing-content-header {
  width: 100%;
  padding: 45px;
}

.landing-content-grid-item > form {
  padding-bottom: 30px;
}

.landing-content-grid-item > form > .form-top {
  height: 80px;
  /* width: 100%; */
  margin-bottom: 30px;
  background: linear-gradient(
    to right,
    rgba(253, 5, 5, 0.75),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

#landing-form {
  max-width: 500px;
}

#landing-form > div > label > input,
#landing-form > div > label > textarea {
  margin-left: 30px;
}

#landing_banner > article > a > button {
  font-size: 20px;
  padding: 10px;
  font-family: "Rubik";
  margin-top: 25px;
}

#landing_banner > article > article > .thumbsUp {
  display: inline;
  border-radius: 5px;
  border: 2px solid white;
  padding: 4px;
  text-shadow: 1.5px 1.5px 1.5px solid #000;
}

#landing_banner > article > article > h1 {
  display: inline;
}
.form-top {
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.75),
    rgba(253, 5, 5, 1)
  );
  padding: 30px;
}
.form-top > p {
  align-self: center;
  color: white;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 10px;
  text-shadow: 1px 1px 1px #000;
}

#ipad {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
}
#cellphone {
  display: block;
  margin: 0 auto 30px;
  width: 100%;
  max-width: 350px;
}

#stats {
  border-top: 0.075px solid red;
  padding: 20px 30px 5px;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.25),
    rgba(253, 5, 5, 0.25)
  );
}

#stats > header > h2 {
  margin-bottom: 30px;
}

#stats > article > p {
  color: white;
  text-shadow: 0.5px 0.5px 0.5px grey;
  font-weight: 500;
  font-size: 22px;
}

.item1 {
  grid-area: header;
  font-size: 26px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  color: white;
  text-shadow: 1px 1px 1px #000;
}
.item2 {
  grid-area: menu;
  text-align: left;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}

.stats-grid {
  text-align: center;
  display: grid;
  /* grid-template-columns: 33% 33% 33%; */
  grid-template-areas: "menu main right";
}

.stats-grid-item {
  justify-content: start;
  color: white;
}

.stats-grid-item-last {
  text-align: right;
  padding-right: 30px;
}

.stats-grid-item > h1 {
  margin-bottom: 0;
  margin-top: 0;
}
/* End Landing Page Styles */

/* Main/Landing Style */

.mbl-separator {
  padding: 0 30px;
  margin-right: 20px;
}

.mbl-separator > hr {
  border: 0.75px solid red;
}

.mbl-separator > h5 {
  margin: 0;
}

.mbl-separator > h2 {
  margin-bottom: 5px;
}
.sidebar {
  background: red;
  padding: 30px;
  display: none;
}

.main-grid {
  display: grid;
  grid-template-columns: 100%;
}

.main-project-grid {
  padding: 5px 30px 15px;
  display: grid;
  grid-template-columns: 100%;
  /* This will result on two rows, each one of 300px */
  /* grid-template-rows: 300px 300px; */
}

.main-single-project-square {
  text-shadow: 0.25px 0.25px 0.25px #fff;
  color: white;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9),
    rgba(253, 5, 5, 0.9)
  );
  border: 1px solid white;
  margin: 15px 15px 15px 0;
  padding: 10px 20px 15px;
  border-radius: 8px;
  box-shadow: 1.5px 1.5px 1.5px #999;
  position: relative;
}

.main-single-project-square > header > h2 > a.project-page-link {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  color: white;
  text-decoration-color: red;
}

.main-single-project-square > article > h3 {
  margin-bottom: 7px;
  padding-left: 5px;
}

.main-single-project-square > article > p {
  color: white;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 5px;
}

.single-project-content-separator {
  border-bottom: 0.5px solid darkred;
  border-top: 0.5px solid darkred;
}

.bid-btn {
  background: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1px 5px 5px 6px;
  bottom: -10px;
  position: absolute;
  width: auto;
  height: auto;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px red;
  box-shadow: 1px 1px 1px #999;
}

.thumbsUp {
  /* font-size: 10px; */
  margin-right: 5px;
  color: white;
}
.closed {
  max-height: 138px;
  min-height: 100px;
}

.open {
  max-height: 100%;
}

#filter_search {
  padding: 20px 0 15px 0px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 1px 1px 1px #999;
  box-shadow: none;
  border: none;
  margin-left: 0;
  display: inline-block;
  width: 100%;
  max-width: 100%;
}

#filter_search > input {
  width: 82%;
  height: 20px;
  border-right: none;
  border: 0.5px solid black;
  border-radius: 2px;
  padding: 5px;
  border: 1px solid black;
}

#searchBtn {
  height: 32px;
  width: 13.5%;
  max-width: 15%;
  background: black;
  border: none;
  margin-left: -3px;
  color: white;
}

.search_input {
  max-width: 90%;
  min-width: 200px;
}

.spec_filter {
  height: 32px;
  width: 100%;
  background: #000000f7;
  color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #999;
}

.filter-box {
  display: flex;
  flex-direction: column;
  padding: 0 46px 0 30px;
}
/* End Main/Landing Styles */

/* Footer Styles */
#footer {
  background: black;
  border-top: 0.075px solid red;
  padding: 10px 30px 5px;
}
#footer article > h1 {
  -webkit-text-stroke-width: 0.0001px;
  -webkit-text-stroke-color: red;
  color: white;
}
/* Footer Styles */

/* Project Page Styles */
.project-page-grid {
  display: grid;
  grid-template-columns: 100%;
  padding: 10px 30px 15px;
}

#project-page-bidders {
  padding: 0 35px 35px;
}

#project-page-bidders > ul {
  list-style: none;
  padding-left: 5px;
}

#project-page-bidders > hr {
  max-width: 600px;
  border: 0.75px solid red;
  margin-left: 0px;
}

#project-page-bidders > ul > li > h3 {
  display: inline-block;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9),
    rgba(253, 5, 5, 0.9)
  );
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 1px 1px 1px #999;
  margin: 0 0 10px 0;
}

#project-page-bidders > ul > li > button.btn {
  margin: 0 5px 10px;
  text-align: center;
  border: 2px solid white;
  box-shadow: 1px 1px 1px #999;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 17px;
  font-size: 14px;
  border-radius: 5px;
}

/* End Project Page Styles */

/* SideBar Styles */
.account-panel {
  color: white;
  background: black;
  border-radius: 5px;
  padding: 0px 15px 25px;
  margin-bottom: 30px;
  /* margin-top: 30px; */
  border: 1px solid white;
}

.account-panel > h3 {
  margin-bottom: 3px;
  -webkit-text-stroke-width: 0.0001px;
  -webkit-text-stroke-color: red;
}

.account-panel > .bids-text {
  -webkit-text-stroke-color: limegreen;
  margin-bottom: -8px;
}

.account-panel > h2 {
  text-shadow: 1px 1px 1px red;
}
.account-panel > i > p {
  margin: 0;
}

.account-panel > ul {
  list-style: none;
  padding-left: 0;
}

.account-panel > ul > li > a {
  color: limegreen;
  font-size: 12px;
}
.account-panel > a {
  color: red;
  font-size: 12px;
}

.tip {
  color: white;
  border: 1px solid white;
  border-radius: 7px;
  padding: 10px 10px 15px 15px;
  background: black;
}

.tip > h4 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.tip > small {
  display: block;
  margin-bottom: 10px;
}
/* End SideBar Styles */

/* Single Project Styles */

/* End Single Project */

/* Form Styles */
form {
  margin: auto;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 300px;
  box-shadow: 1px 1px 1px #999;
}

#contact-form > div > label > .text,
#login-form > div > label > .text,
#new-project-form > div > label > .text {
  margin-left: 0px;
}

#contact-form > .form-top,
#login-form > .form-top,
#new-project-form > .form-top {
  margin-bottom: 30px;
}

#contact-form > button.btn,
#login-form > button.btn,
#new-project-form > button.btn {
  margin-left: 0;
}

#contact-form,
#login-form,
#new-project-form {
  margin-bottom: 45px;
  padding-bottom: 30px;
}

#login-form > div > small {
  font-style: italic;
  font-size: 10px;
  color: grey;
}

#login-form > .form-tip{
  margin-top: 12px;
}

.text {
  border: 0.5px solid #333;
  width: 70%;
  height: 30px;
  border-radius: 2px;
  padding: 5px 5px 0 5px;
  margin-bottom: 10px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  /* margin-left: 30px; */
}

label {
  /* display: none; */
  /* padding-left: 30px; */
}

form > button.btn {
  width: 75%;
  margin-left: 30px;
  margin-top: 30px;
}

form > textarea {
  height: 300px;
}
/* End Form Styles */

/* Bidding Styles */
#bidder-form {
  border-radius: 7px;
  max-width: 397px;
  padding: 10px 30px 30px;
  box-shadow: 2px 2px 2px #999;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9),
    rgba(253, 5, 5, 0.9)
  );
  color: white;
  margin-top: 35px;
  margin-left: 30px;
  border: 1px solid white;
}

#bidder-form > div > h3 {
  margin: -17px 0 10px;
  text-shadow: 1px 1px 1px red;
  font-style: italic;
  max-width: 145px;
  padding: 7px 0;
  background: red;
  border-radius: 5px;
  text-align: center;
  border: 1px solid white;
}

#bidder-input > .bidder-input-grid > div > label {
  display: block;
  padding-left: 0;
  margin-bottom: 10px;
  text-align: left;
}

#bidder-input > .bidder-input-grid > div {
  padding: 15px 10px 15px 0;
  text-align: left;
}

#bidder-input {
  margin: 20px 0 25px;
  padding: 20px 15px 10px 15px;
  border-bottom: 2px solid red;
}

#bidder-input:last-child {
  border-bottom: 0;
}
.bidder-btn {
  border: 1px solid white;
  border-radius: 5px;
  background: green;
  padding: 8px 8px 6px 7px;
  color: white;
  display: block;
  width: 50%;
  margin-top: 30px;
  font-size: 20px;
  font-family: "Rubik";
}

.bidder-input-grid {
  display: grid;
  grid-template-columns: 100%;
}

#closebidslabel {
  color: white;
  display: inline;
}
/* End Bidding Styles */

/* Project Comments */
#comment_text {
  width: 100%;
}

.comment-grid {
  display: grid;
  grid-template-columns: 20% auto 20%;
}

#comments-form {
  display: block;
  /* width: 100%; */
  max-width: 600px;
  margin-left: 0;
}

#comments-form > .form-body > button.btn {
  margin-left: 0;
  border: 1px solid white;
  box-shadow: 1px 1px 1px #999;
  border-radius: 7px;
}

#comments_text {
  border: 0.5px solid #333;
  height: 100px;
  border-radius: 2px;
  padding: 5px 5px 0 5px;
  margin-bottom: 10px;
  width: 100%;
  margin-left: 0;
}

.form-body {
  /* padding: 15px; */
}

#comments-section {
  margin-top: 45px;
  margin-bottom: 35px;
}

#comments-section > div > #comments-form {
  box-shadow: none;
  border: none;
}
.comments-header {
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9),
    rgba(253, 5, 5, 0.9)
  );
  border-radius: 5px;
  color: white;
  padding-left: 15px;
  box-shadow: 1px 1px 1px #999;
  margin-bottom: 30px;
}

.comments-header > .comments-header-grid > h2 {
  padding: 15px 0;
}

.comments-header-grid {
  /* display: grid;
  grid-template-columns: 50% 50%; */
}

#project_comments {
  padding: 15px 0;
  max-width: 600px;
}

.project-comment {
  padding: 5px 15px 10px;
  border-radius: 5px;
  border: 1px solid white;
  margin-top: 25px;
  box-shadow: 1px 1px 1px #999;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9),
    rgba(253, 5, 5, 0.9)
  );
  color: white;
}

.project-comment > h3 {
  font-style: italic;
  text-shadow: 1px 1px 1px darkred;
  margin: 10px 6px 0;
  display: inline-block;
  padding-top: 4px;
}

.project-comment > p {
  font-size: 16px;
  padding: 0 5px;
  line-height: 1.75;
}

.project-comment > small {
  color: white;
  display: inline-block;
  float: right;
  margin-right: 10px;
  padding-top: 17px;
  text-shadow: 1px 1px 1px red;
}

.project-comment > hr {
  border-width: 0.35px;
  border-color: darkred;
  max-width: 600px;
  border: 0.5px solid darkred;
  margin-left: 0px;
}
/* End Project Comments */

/* Collab Styles */
#collab_section {
  margin-bottom: 30px;
}
/* End Collab Styles */

/* Classes */
.btn {
  background: black;
  padding: 12px 7px 10px;
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: 400;
}

.nav-btn {
  border: 1px solid white;
  border-radius: 5px;
  background: black;
  padding: 5px 8px 7px 7px;
  color: white;
  box-shadow: 0.1.5px 1.5px 1.5px #000;
}

.float-right {
  float: right;
}

.invisible {
  display: none !important;
}

.green-text {
  color: limegreen;
}

.red-text {
  color: red;
}
/* End Classes */

/* Media Queries */

@media (min-width: 400px) {
  #landing_banner {
    height: 240px;
  }
}

@media (min-width: 678px) {
  .text {
    width: 83%;
  }

  form > button.btn {
    width: 86%;
  }
  #landing_content {
    padding: 80px 35px 80px;
  }

  .landing-content-grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .landing-content-grid > div > p {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 65px;
  }

  .landing-content-grid-item {
    padding-right: 30px;
    padding-left: 0px;
  }

  #landing-content-left {
    padding-top: 0px;
    text-align: left;
  }

  .landing-content-header {
    width: 100%;
    left: 0px;
    font-size: 26px;
  }
  .overlay > article > h1 {
    margin-top: 55px;
  }
  .overlay > article > p {
    font-size: 20px;
  }

  .overlay > button {
    padding: 13px 10px 10px;
    margin-top: 20px;
    width: 50%;
    max-width: 300px;
    font-size: 23px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  #landing_banner {
    /* background: url("https://i.imgur.com/ebyutog.jpg"); */
    height: 240px;
    padding: 50px 0;
    background-position: bottom;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .filter-grid {
    display: grid;
    grid-template-columns: 100%;
    padding: 0 45px 15px 30px;
  }

  .nav-menu {
    display: block;
  }

  .nav-menu > li > a {
    padding-top: 5px;
    padding-bottom: 3px;
  }
  .top-nav > .nav-grid > .nav-grid-item-2 > .nav-nav {
    display: block;
  }

  ul.bars {
    display: none;
  }

  .main-grid {
    grid-template-columns: 32.5% auto;
  }

  .sidebar {
    background: linear-gradient(
      to bottom right,
      rgba(253, 5, 5, 0.9),
      rgba(0, 0, 0, 0.9)
    );
    padding: 30px;
    display: inline-block;
    min-height: 600px;
  }

  #mbl-nav {
    display: none;
  }

  #cellphone {
    display: block;
    margin: 0px auto 30px;
    width: 100%;
    max-width: 400px;
  }
}

@media (min-width: 992px) {
  /* .LoginPage > #footer {
    position: unset;
    width: auto;
  } */

  .main-single-project-square > header > h2,
  .main-single-project-square > article > h3 {
    font-size: 16px;
  }

  .overlay > article {
    margin-top: 90px;
  }

  .overlay > article > h1 {
    color: white;
    margin: auto;
    margin-bottom: 15px;
    font-size: 50px;
    text-shadow: 1px 1px 1px #000;
    margin-top: 55px;
  }
  .overlay > article > p {
    font-size: 24px;
  }

  .spec_filter {
    height: 32px;
  }

  #filter_search {
    /* max-width: 89%; */
  }
  .main-project-grid {
    grid-template-columns: 33% 33% 33%;
    /* This will result on two rows, each one of 300px */
    /* grid-template-rows: 300px 300px; */
  }

  .main-grid {
    grid-template-columns: 25% auto;
  }
  #landing_banner {
    /* background: url("https://i.imgur.com/ebyutog.jpg"); */
    height: 290px;
  }

  form > button.btn {
    width: 100%;
    max-width: 88%;
    margin-left: 30px;
    margin-top: 30px;
  }

  .text {
    width: 85%;
  }
}
/* Media Queries */
